@using Project02.ViewModels.Admin
@model DashboardVm

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <!-- Widget 1: Số người dùng -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="info-box bg-info">
                <span class="info-box-icon"><i class="fa-solid fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Người dùng</span>
                    <span class="info-box-number">@Model.UserCount</span>
                </div>
            </div>
        </div>

        <!-- Widget 2: Phim công chiếu -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="info-box bg-success">
                <span class="info-box-icon"><i class="fa-solid fa-film"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Phim công chiếu</span>
                    <span class="info-box-number">@Model.PublishedMoviesCount</span>
                </div>
            </div>
        </div>

        <!-- Widget 3: Vé đã bán -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="info-box bg-warning">
                <span class="info-box-icon"><i class="fa-solid fa-ticket"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Vé đã bán</span>
                    <span class="info-box-number">@Model.TicketSoldCount</span>
                </div>
            </div>
        </div>

        <!-- Widget 4: Doanh thu -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="info-box bg-danger">
                <span class="info-box-icon"><i class="fa-solid fa-dollar-sign"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Doanh thu (VND)</span>
                    <span class="info-box-number">@Model.TotalRevenue.ToString("N0")</span>
                </div>
            </div>
        </div>
    </div>
</div>
