@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
    ViewData["Username"] = ViewBag.Username;
}
<main class="app-main">
<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
        <div class="col-sm-12"><h3 class="mb-0">@ViewData["Title"]</h3></div>
    </div>
    <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<div class="app-content">

</div>
<!--end::App Content-->
</main>
