@model Project02.ViewModels.Genre.GenreEditVm

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form asp-action="Edit" asp-route-id="@(Model.Genre_Slug ?? ViewContext.RouteData.Values["id"]?.ToString())" method="post">
                @Html.AntiForgeryToken()
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            A Form to add new genre
                        </h3>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Genre_ID" />
                        <input type="hidden" asp-for="Genre_Slug" />
                        <div class="form-group">
                            <label class="control-label my-1"><strong>Name</strong></label>
                            <input asp-for="Genre_Name" class="form-control" />
                            <span asp-validation-for="Genre_Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-outline-secondary float-end">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
