@using Project02.ViewModels.Showtime
@model ShowtimeCreateVm

@{
    ViewData["Title"] = "New Showtime";
    Layout = "_AdminLayout";
}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form asp-action="Create">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            A Form to add new showtime
                        </h3>
                    </div>

                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label my-1"><strong>Movie</strong></label>
                            <select asp-for="Movie_ID" class="form-control" asp-items="ViewBag.Movie_ID"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label my-1"><strong>Hall</strong></label>
                            <select asp-for="Hall_ID" class="form-select" asp-items="ViewBag.Hall_ID"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label my-1"><strong>Start Time</strong></label>
                            <div class="input-group date" id="datetimepickerStart" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                <input type="text" name="StartTime" id="StartTime" class="form-control" data-td-target="#datetimepickerStart" />
                                <span class="input-group-text" data-td-target="#datetimepickerStart" data-td-toggle="datetimepicker">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <span asp-validation-for="StartTime" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label my-1"><strong>End Time</strong></label>
                            <div class="input-group date" id="datetimepickerEnd" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                <input type="text" name="EndTime" id="EndTime" class="form-control" data-td-target="#datetimepickerEnd" />
                                <span class="input-group-text" data-td-target="#datetimepickerEnd" data-td-toggle="datetimepicker">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <span asp-validation-for="EndTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label my-1"><strong>Language</strong></label>
                            <input asp-for="Language" class="form-control" />
                            <span asp-validation-for="Language" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label my-1"><strong>Format</strong></label>
                            <select asp-for="Format" class="form-select" required>
                                <option value="" disabled selected>-- Chọn loại phim --</option>
                                <option value="2D">2D</option>
                                <option value="3D">3D</option>
                            </select>
                            <span asp-validation-for="Format" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-outline-secondary float-end">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const inputStart = document.querySelector('input[name="StartTime"]');
            inputStart.value = '@Model.StartTime.ToString("dd/MM/yyyy h:mm tt")';

            const pickerStart = new tempusDominus.TempusDominus(document.getElementById('datetimepickerStart'), {
                display: {
                    components: {
                      calendar: true,
                      clock: true,
                      date: true,
                      hours: true,
                      minutes: true,
                      seconds: false
                    }
                }
            });

            const inputEnd = document.querySelector('input[name="EndTime"]');
            inputEnd.value = '@Model.EndTime.ToString("dd/MM/yyyy h:mm tt")';

            const pickerEnd = new tempusDominus.TempusDominus(document.getElementById('datetimepickerEnd'), {
                display: {
                  components: {
                    calendar: true,
                    clock: true,
                    date: true,
                    hours: true,
                    minutes: true,
                    seconds: false
                  }
                }
            });

            pickerStart.subscribe('change.td', (e) => {
                console.log('Start Time chọn:', e.date);
            });

            pickerEnd.subscribe('change.td', (e) => {
                console.log('End Time chọn:', e.date);
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

}
