@model Project02.Models.Film

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Film_ID" />
            <div class="form-group">
                <label asp-for="Film_Slug" class="control-label"></label>
                <input asp-for="Film_Slug" class="form-control" />
                <span asp-validation-for="Film_Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film_Name" class="control-label"></label>
                <input asp-for="Film_Name" class="form-control" />
                <span asp-validation-for="Film_Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Film_Description" class="control-label"></label>
                <input asp-for="Film_Description" class="form-control" />
                <span asp-validation-for="Film_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film_Duration" class="control-label"></label>
                <input asp-for="Film_Duration" class="form-control" />
                <span asp-validation-for="Film_Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film_Status" class="control-label"></label>
                <input asp-for="Film_Status" class="form-control" />
                <span asp-validation-for="Film_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film_Created_At" class="control-label"></label>
                <input asp-for="Film_Created_At" class="form-control" />
                <span asp-validation-for="Film_Created_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film_Update_At" class="control-label"></label>
                <input asp-for="Film_Update_At" class="form-control" />
                <span asp-validation-for="Film_Update_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
