@{
    Layout = "_Layout";
    ViewData["Title"] = "Về chúng tôi";
}

<div class="container py-5">
    <h1 class="mb-4 fw-bold text-white">🎬 Về TKT Team</h1>

    <p class="text-muted">
        TKT Cinema 🎬 là nền tảng đặt vé xem phim trực tuyến hiện đại, mang đến trải nghiệm điện ảnh trọn vẹn cho khán giả.
    </p>

    <h5 class="text-white mt-4">Sứ mệnh</h5>
    <p class="text-muted">Giúp bạn dễ dàng tìm và đặt vé cho những bộ phim yêu thích mọi lúc, mọi nơi.</p>

    <h5 class="text-white mt-3">Dịch vụ</h5>
    <ul class="text-muted">
        <li>Cập nhật lịch chiếu và phim mới liên tục.</li>
        <li>Hỗ trợ mua vé trực tuyến nhanh chóng, tiện lợi.</li>
        <li>Chương trình khuyến mãi hấp dẫn và ưu đãi đặc biệt cho người dùng thân thiết.</li>
    </ul>

    <h5 class="text-white mt-3">Cam kết</h5>
    <p class="text-muted">Bảo mật thông tin người dùng và mang đến trải nghiệm đặt vé an toàn, tiện lợi.</p>

    <h5 class="text-white mt-4">Đội ngũ phát triển </h5>
    <ul class="text-muted">
        <li><strong>Kim Ngọc Tâm</strong></li>
        <li><strong>Nguyễn Văn Khải</strong></li>
        <li><strong>Nguyễn Minh Tuấn</strong></li>
    </ul>
</div>
